---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/michael-reeves/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1441993103'
      Etag:
      - W/"f1ef97b72c954a72f7a684d8ffaa5ece"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false},{"login":"Drew242","id":11841077,"avatar_url":"https://avatars.githubusercontent.com/u/11841077?v=3","gravatar_id":"","url":"https://api.github.com/users/Drew242","html_url":"https://github.com/Drew242","followers_url":"https://api.github.com/users/Drew242/followers","following_url":"https://api.github.com/users/Drew242/following{/other_user}","gists_url":"https://api.github.com/users/Drew242/gists{/gist_id}","starred_url":"https://api.github.com/users/Drew242/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Drew242/subscriptions","organizations_url":"https://api.github.com/users/Drew242/orgs","repos_url":"https://api.github.com/users/Drew242/repos","events_url":"https://api.github.com/users/Drew242/events{/privacy}","received_events_url":"https://api.github.com/users/Drew242/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 11 Sep 2015 16:38:23 GMT
- request:
    method: get
    uri: https://api.github.com/users/noobjey/events?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1441993103'
      Last-Modified:
      - Thu, 10 Sep 2015 20:56:17 GMT
      Etag:
      - W/"f3d4acac5098a05860155d677c45a72e"
      X-Poll-Interval:
      - '60'
      X-Github-Media-Type:
      - github.v3
      Link:
      - <https://api.github.com/user/8325508/events?per_page=100&page=2>; rel="next",
        <https://api.github.com/user/8325508/events?per_page=100&page=3>; rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"3137560026","type":"IssuesEvent","actor":{"id":8325508,"login":"noobjey","gravatar_id":"","url":"https://api.github.com/users/noobjey","avatar_url":"https://avatars.githubusercontent.com/u/8325508?"},"repo":{"id":42138303,"name":"noobjey/noobhub","url":"https://api.github.com/repos/noobjey/noobhub"},"payload":{"action":"opened","issue":{"url":"https://api.github.com/repos/noobjey/noobhub/issues/21","labels_url":"https://api.github.com/repos/noobjey/noobhub/issues/21/labels{/name}","comments_url":"https://api.github.com/repos/noobjey/noobhub/issues/21/comments","events_url":"https://api.github.com/repos/noobjey/noobhub/issues/21/events","html_url":"https://github.com/noobjey/noobhub/issues/21","id":105940883,"number":21,"title":"style
        recent activity","user":{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false},"labels":[],"state":"open","locked":false,"assignee":null,"milestone":null,"comments":0,"created_at":"2015-09-11T03:56:16Z","updated_at":"2015-09-11T03:56:16Z","closed_at":null,"body":null}},"public":true,"created_at":"2015-09-11T03:56:17Z"},{"id":"3137557438","type":"DeleteEvent","actor":{"id":8325508,"login":"noobjey","gravatar_id":"","url":"https://api.github.com/users/noobjey","avatar_url":"https://avatars.githubusercontent.com/u/8325508?"},"repo":{"id":42138303,"name":"noobjey/noobhub","url":"https://api.github.com/repos/noobjey/noobhub"},"payload":{"ref":"19-dashboard_repos","ref_type":"branch","pusher_type":"user"},"public":true,"created_at":"2015-09-11T03:54:25Z"},{"id":"3137557380","type":"PushEvent","actor":{"id":8325508,"login":"noobjey","gravatar_id":"","url":"https://api.github.com/users/noobjey","avatar_url":"https://avatars.githubusercontent.com/u/8325508?"},"repo":{"id":42138303,"name":"noobjey/noobhub","url":"https://api.github.com/repos/noobjey/noobhub"},"payload":{"push_id":788638900,"size":2,"distinct_size":1,"ref":"refs/heads/master","head":"c7f5bfddd12aacdc23b854552feb77395b389fc6","before":"67d5b7ac667eb9458bd006d276d9c520bd05fad8","commits":[{"sha":"1cbab50eac5bc67386621a4f306508ebba3abeaa","author":{"email":"noobjey@gmail.com","name":"Jason
        Wright"},"message":"show repositories","distinct":false,"url":"https://api.github.com/repos/noobjey/noobhub/commits/1cbab50eac5bc67386621a4f306508ebba3abeaa"},{"sha":"c7f5bfddd12aacdc23b854552feb77395b389fc6","author":{"email":"noobjey@gmail.com","name":"Jason
        Wright"},"message":"Merge pull request #20 from noobjey/19-dashboard_repos\n\nshow
        repositories","distinct":true,"url":"https://api.github.com/repos/noobjey/noobhub/commits/c7f5bfddd12aacdc23b854552feb77395b389fc6"}]},"public":true,"created_at":"2015-09-11T03:54:23Z"},{"id":"3137557350","type":"PullRequestEvent","actor":{"id":8325508,"login":"noobjey","gravatar_id":"","url":"https://api.github.com/users/noobjey","avatar_url":"https://avatars.githubusercontent.com/u/8325508?"},"repo":{"id":42138303,"name":"noobjey/noobhub","url":"https://api.github.com/repos/noobjey/noobhub"},"payload":{"action":"closed","number":20,"pull_request":{"url":"https://api.github.com/repos/noobjey/noobhub/pulls/20","id":44744350,"html_url":"https://github.com/noobjey/noobhub/pull/20","diff_url":"https://github.com/noobjey/noobhub/pull/20.diff","patch_url":"https://github.com/noobjey/noobhub/pull/20.patch","issue_url":"https://api.github.com/repos/noobjey/noobhub/issues/20","number":20,"state":"closed","locked":false,"title":"show
        repositories","user":{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false},"body":"closes
        #19 \r\n- show repos","created_at":"2015-09-11T03:54:16Z","updated_at":"2015-09-11T03:54:22Z","closed_at":"2015-09-11T03:54:22Z","merged_at":"2015-09-11T03:54:22Z","merge_commit_sha":"ef6393c2c346c560d9092c2a29d78495662dfcc3","assignee":null,"milestone":null,"commits_url":"https://api.github.com/repos/noobjey/noobhub/pulls/20/commits","review_comments_url":"https://api.github.com/repos/noobjey/noobhub/pulls/20/comments","review_comment_url":"https://api.github.com/repos/noobjey/noobhub/pulls/comments{/number}","comments_url":"https://api.github.com/repos/noobjey/noobhub/issues/20/comments","statuses_url":"https://api.github.com/repos/noobjey/noobhub/statuses/1cbab50eac5bc67386621a4f306508ebba3abeaa","head":{"label":"noobjey:19-dashboard_repos","ref":"19-dashboard_repos","sha":"1cbab50eac5bc67386621a4f306508ebba3abeaa","user":{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false},"repo":{"id":42138303,"name":"noobhub","full_name":"noobjey/noobhub","owner":{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/noobjey/noobhub","description":"Consume
        the github api.","fork":false,"url":"https://api.github.com/repos/noobjey/noobhub","forks_url":"https://api.github.com/repos/noobjey/noobhub/forks","keys_url":"https://api.github.com/repos/noobjey/noobhub/keys{/key_id}","collaborators_url":"https://api.github.com/repos/noobjey/noobhub/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/noobjey/noobhub/teams","hooks_url":"https://api.github.com/repos/noobjey/noobhub/hooks","issue_events_url":"https://api.github.com/repos/noobjey/noobhub/issues/events{/number}","events_url":"https://api.github.com/repos/noobjey/noobhub/events","assignees_url":"https://api.github.com/repos/noobjey/noobhub/assignees{/user}","branches_url":"https://api.github.com/repos/noobjey/noobhub/branches{/branch}","tags_url":"https://api.github.com/repos/noobjey/noobhub/tags","blobs_url":"https://api.github.com/repos/noobjey/noobhub/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/noobjey/noobhub/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/noobjey/noobhub/git/refs{/sha}","trees_url":"https://api.github.com/repos/noobjey/noobhub/git/trees{/sha}","statuses_url":"https://api.github.com/repos/noobjey/noobhub/statuses/{sha}","languages_url":"https://api.github.com/repos/noobjey/noobhub/languages","stargazers_url":"https://api.github.com/repos/noobjey/noobhub/stargazers","contributors_url":"https://api.github.com/repos/noobjey/noobhub/contributors","subscribers_url":"https://api.github.com/repos/noobjey/noobhub/subscribers","subscription_url":"https://api.github.com/repos/noobjey/noobhub/subscription","commits_url":"https://api.github.com/repos/noobjey/noobhub/commits{/sha}","git_commits_url":"https://api.github.com/repos/noobjey/noobhub/git/commits{/sha}","comments_url":"https://api.github.com/repos/noobjey/noobhub/comments{/number}","issue_comment_url":"https://api.github.com/repos/noobjey/noobhub/issues/comments{/number}","contents_url":"https://api.github.com/repos/noobjey/noobhub/contents/{+path}","compare_url":"https://api.github.com/repos/noobjey/noobhub/compare/{base}...{head}","merges_url":"https://api.github.com/repos/noobjey/noobhub/merges","archive_url":"https://api.github.com/repos/noobjey/noobhub/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/noobjey/noobhub/downloads","issues_url":"https://api.github.com/repos/noobjey/noobhub/issues{/number}","pulls_url":"https://api.github.com/repos/noobjey/noobhub/pulls{/number}","milestones_url":"https://api.github.com/repos/noobjey/noobhub/milestones{/number}","notifications_url":"https://api.github.com/repos/noobjey/noobhub/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/noobjey/noobhub/labels{/name}","releases_url":"https://api.github.com/repos/noobjey/noobhub/releases{/id}","created_at":"2015-09-08T20:50:25Z","updated_at":"2015-09-11T01:26:19Z","pushed_at":"2015-09-11T03:54:22Z","git_url":"git://github.com/noobjey/noobhub.git","ssh_url":"git@github.com:noobjey/noobhub.git","clone_url":"https://github.com/noobjey/noobhub.git","svn_url":"https://github.com/noobjey/noobhub","homepage":"https://noobhub-two.herokuapp.com/","size":0,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":2,"forks":0,"open_issues":2,"watchers":0,"default_branch":"master"}},"base":{"label":"noobjey:master","ref":"master","sha":"67d5b7ac667eb9458bd006d276d9c520bd05fad8","user":{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gi[...]
- request:
    method: get
    uri: https://api.github.com/users/Drew242/events?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1441993103'
      Last-Modified:
      - Thu, 10 Sep 2015 13:08:52 G[...]
- request:
    method: get
    uri: https://api.github.com/users/michael-reeves
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1441993103'
      Last-Modified:
      - Fri, 11 Sep 2015 14:05:47 GMT
      Etag[...]
- request:
    method: get
    uri: https://api.github.com/users/michael-reeves/starred
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '55'
      X-Ratelimit-Reset:
      - '1441993103'
      Etag:
      - W/"e33faf6d941b47d897f89e8883769eeb"
    [...]
- request:
    method: get
    uri: https://github.com/users/michael-reeves/contributions
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Status:
      - 200 OK
      Public-Key-Pins:
      - max-age=300; pin-sha256="WoiWRyIOVNa9ihaBciRSC7XHjliYS9VwUGOIud4PB18="; pin-sha256="JbQbUG5JMJUoI6brnx0x3vZF6jilxsapbXGVfjhN8Fg=";
        includeSubDomains
    body:
      encoding: ASCII-8BIT
      string: |
        <svg width="721" height="110" class="js-calendar-graph-svg">
          <g transform="translate(20, 20)">
              <g transform="translate(0, 0)">
                  <rect class="day" width="11" height="11" y="52" fill="#eeeeee" data-count="0" data-date="2014-09-11"/>
                  <rect class="day" width="11" height="11" y="65" fill="#eeeeee" data-count="0" data-date="2014-09-12"/>
                  <rect class="day" width="11" height="11" y="78" fill="#eeeeee" data-count="0" data-date="2014-09-13"/>
              </g>
              <g transform="translate(13, 0)">
                  <rect class="day" width="11" height="11" y="0" fill="#eeeeee" data-count="0" [...]
