---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/michael-reeves
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1441988749'
      Last-Modified:
      - Fri, 11 Sep 2015 14:05:47 GMT
      Etag:
      - W/"da73c85bd193a5f9a645a27f29a933a5"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '{"login":"michael-reeves","id":7769973,"avatar_url":"https://avatars.githubusercontent.com/u/7769973?v=3","gravatar_id":"","url":"https://api.github.com/users/michael-reeves","html_url":"https://github.com/michael-reeves","followers_url":"https://api.github.com/users/michael-reeves/followers","following_url":"https://api.github.com/users/michael-reeves/following{/other_user}","gists_url":"https://api.github.com/users/michael-reeves/gists{/gist_id}","starred_url":"https://api.github.com/users/michael-reeves/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michael-reeves/subscriptions","organizations_url":"https://api.github.com/users/michael-reeves/orgs","repos_url":"https://api.github.com/users/michael-reeves/repos","events_url":"https://api.github.com/users/michael-reeves/events{/privacy}","received_events_url":"https://api.github.com/users/michael-reeves/received_events","type":"User","site_admin":false,"name":"Michael
        Reeves","company":"Conseguir, LLC","blog":"http://conseguir.us/","location":null,"email":null,"hireable":null,"bio":null,"public_repos":33,"public_gists":4,"followers":13,"following":2,"created_at":"2014-06-02T15:43:05Z","updated_at":"2015-09-11T14:05:47Z"}'
  recorded_at: Fri, 11 Sep 2015 15:25:49 GMT
recorded_with: VCR 2.9.3
