---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/michael-reeves/following
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '38'
      X-Ratelimit-Reset:
      - '1441950053'
      Etag:
      - W/"f1ef97b72c954a72f7a684d8ffaa5ece"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"noobjey","id":8325508,"avatar_url":"https://avatars.githubusercontent.com/u/8325508?v=3","gravatar_id":"","url":"https://api.github.com/users/noobjey","html_url":"https://github.com/noobjey","followers_url":"https://api.github.com/users/noobjey/followers","following_url":"https://api.github.com/users/noobjey/following{/other_user}","gists_url":"https://api.github.com/users/noobjey/gists{/gist_id}","starred_url":"https://api.github.com/users/noobjey/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/noobjey/subscriptions","organizations_url":"https://api.github.com/users/noobjey/orgs","repos_url":"https://api.github.com/users/noobjey/repos","events_url":"https://api.github.com/users/noobjey/events{/privacy}","received_events_url":"https://api.github.com/users/noobjey/received_events","type":"User","site_admin":false},{"login":"Drew242","id":11841077,"avatar_url":"https://avatars.githubusercontent.com/u/11841077?v=3","gravatar_id":"","url":"https://api.github.com/users/Drew242","html_url":"https://github.com/Drew242","followers_url":"https://api.github.com/users/Drew242/followers","following_url":"https://api.github.com/users/Drew242/following{/other_user}","gists_url":"https://api.github.com/users/Drew242/gists{/gist_id}","starred_url":"https://api.github.com/users/Drew242/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Drew242/subscriptions","organizations_url":"https://api.github.com/users/Drew242/orgs","repos_url":"https://api.github.com/users/Drew242/repos","events_url":"https://api.github.com/users/Drew242/events{/privacy}","received_events_url":"https://api.github.com/users/Drew242/received_events","type":"User","site_admin":false}]'
  recorded_at: Fri, 11 Sep 2015 05:21:26 GMT
recorded_with: VCR 2.9.3
