---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/michael-reeves/repos?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '57'
      X-Ratelimit-Reset:
      - '1441988749'
      Etag:
      - W/"10776796f4428547f6b2a2a16cc147db"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"id":39031779,"name":"active-record-sinatra","full_name":"michael-reeves/active-record-sinatra","owner":{"login":"michael-reeves","id":7769973,"avatar_url":"https://avatars.githubusercontent.com/u/7769973?v=3","gravatar_id":"","url":"https://api.github.com/users/michael-reeves","html_url":"https://github.com/michael-reeves","followers_url":"https://api.github.com/users/michael-reeves/followers","following_url":"https://api.github.com/users/michael-reeves/following{/other_user}","gists_url":"https://api.github.com/users/michael-reeves/gists{/gist_id}","starred_url":"https://api.github.com/users/michael-reeves/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/michael-reeves/subscriptions","organizations_url":"https://api.github.com/users/michael-reeves/orgs","repos_url":"https://api.github.com/users/michael-reeves/repos","events_url":"https://api.github.com/users/michael-reeves/events{/privacy}","received_events_url":"https://api.github.com/users/michael-reeves/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/michael-reeves/active-record-sinatra","description":null,"fork":true,"url":"https://api.github.com/repos/michael-reeves/active-record-sinatra","forks_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/forks","keys_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/keys{/key_id}","collaborators_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/teams","hooks_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/hooks","issue_events_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/issues/events{/number}","events_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/events","assignees_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/assignees{/user}","branches_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/branches{/branch}","tags_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/tags","blobs_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/git/refs{/sha}","trees_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/git/trees{/sha}","statuses_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/statuses/{sha}","languages_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/languages","stargazers_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/stargazers","contributors_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/contributors","subscribers_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/subscribers","subscription_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/subscription","commits_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/commits{/sha}","git_commits_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/git/commits{/sha}","comments_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/comments{/number}","issue_comment_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/issues/comments{/number}","contents_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/contents/{+path}","compare_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/compare/{base}...{head}","merges_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/merges","archive_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/downloads","issues_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/issues{/number}","pulls_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/pulls{/number}","milestones_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/milestones{/number}","notifications_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/labels{/name}","releases_url":"https://api.github.com/repos/michael-reeves/active-record-sinatra/releases{/id}","created_at":"2015-07-13T19:07:40Z","updated_at":"2015-07-13T19:07:40Z","pushed_at":"2015-07-14T00:31:11Z","git_url":"git://github.com/michael-reeves/active-record-sinatra.git","ssh_url":"git@github.com:michael-reeves/active-record-sinatra.git","clone_url":"https://github.com/michael-reeves/active-record-sinatra.git","svn_url":"https://github.com/michael-reeves/active-record-sinatra","homepage":null,"size":91,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":false,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master"},{"id":39925327,"name":"blogger","full_name":"michael-reeves/blogger","owner":{"login":"michael-reeves","id":7769973,"avatar_url":"https://avatars.githubusercontent.com/u/7769973?v=3","gravatar_id":"","url":"https://api.github.com/users/michael-reeves","html_url":"https://github.com/michael-reeves","followers_url":"https://api.github.com/users/michael-reeves/followers","following_url":"https://api.github.com/users/michael-reeves/following{/other_user}","gists_url":"https://api.github.co[...]
