
img.img-circle.img-thumbnail {
  height: 200px;
}

.navbar-text{
  margin: 0px;
  img {
    max-height: 30px;
    width:  auto;
    vertical-align: middle;
  }
}

#myTabContent ul {
  list-style: none;
  li {
    margin-top: .5em;
  }
}

.recent-activity ul {
  list-style: none;
  li {
    margin-top: 0.6em;
  }
}

.repo-icon, .pull-request-icon {
  margin-left: 0px;
  padding-right: 0.5em;
}

.last-updated {
  float: right;

}

footer {
  min-height: 8em;
}
