---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/eprimucci/orgs
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '39'
      X-Ratelimit-Reset:
      - '1441932764'
      Etag:
      - W/"82390231b673f08b113c2ba019f1abf0"
      X-Github-Media-Type:
      - github.v3
    body:
      encoding: ASCII-8BIT
      string: '[{"login":"CodigoAustral","id":2042055,"url":"https://api.github.com/orgs/CodigoAustral","repos_url":"https://api.github.com/orgs/CodigoAustral/repos","events_url":"https://api.github.com/orgs/CodigoAustral/events","members_url":"https://api.github.com/orgs/CodigoAustral/members{/member}","public_members_url":"https://api.github.com/orgs/CodigoAustral/public_members{/member}","avatar_url":"https://avatars.githubusercontent.com/u/2042055?v=3","description":null}]'
  recorded_at: Fri, 11 Sep 2015 00:46:03 GMT
recorded_with: VCR 2.9.3
